---
import type { MarkdownInstance } from 'astro';
import { Section } from 'astro-boilerplate-components';
import type { IFrontmatter } from 'astro-boilerplate-components/dist/esm/types/IFrontMatter';

import Base from '@/templates/Base.astro';
import { sortByDate, sortByMyself } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
};

// Esta función es requerida para rutas dinámicas
export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const timelineData = await Astro.glob('./*.md'); // Ruta a tus archivos markdown
  const sortedTimeline = sortByDate(timelineData);

  // Puedes retornar una página de cada punto de la línea cronológica si fuera necesario
  return paginate(sortedTimeline, { pageSize: 6 });
}

// Helper function to format dates
const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: 'numeric',
    month: 'long',
  };
  return new Date(date).toLocaleDateString('es-ES', options);
};

const formatDateRange = (startDate: string, endDate?: string) => {
  const formattedStartDate = formatDate(startDate);
  const formattedEndDate = endDate ? formatDate(endDate) : 'Present';
  return `${formattedStartDate} - ${formattedEndDate}`;
};

const { page } = Astro.props;
const sortedTimeline = sortByMyself(page.data);
---

<Base
  head={{
    title: 'Cronologic Line',
    description: 'Important moments in my life as an student',
  }}
>
  <Section>
    <h2 class='mb-4 text-2xl font-bold'>My Studies</h2>
    <p class='mb-4'>
      Remarkable studies and courses I have taken over the years
    <div class='timeline'>
      {sortedTimeline.map((hito) => (
        <div class="timeline-item mb-6" key={hito.frontmatter.date}>
          <div
            class="timeline-marker h-3 w-3 rounded-full"
            style={`background-color: ${hito.frontmatter.color || '#3498db'}`}
          />
          <div class="timeline-content">
            <h3 class="text-xl font-semibold">{hito.frontmatter.title}</h3>
            <p class="text-sm text-gray-500">
              {formatDateRange(hito.frontmatter.date, hito.frontmatter.endDate)}
            </p>
            <p>{hito.frontmatter.description}</p>
          </div>
        </div>
      ))}
    </div>
  </Section>
</Base>

<style>
  .timeline {
    position: relative;
    padding-left: 1.5rem;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #cbd5e0;
  }

  .timeline-item {
    position: relative;
  }

  .timeline-marker {
    position: absolute;
    left: -0.75rem;
    top: 0.25rem;
  }

  .timeline-content {
    margin-left: 1.5rem;
  }
</style>
